#side-bar .see-also h2.show-title  {
	text-transform: inherit;
	margin-bottom: 10px;
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	letter-spacing: 1px;
}
.sos {
	padding: 15px;
	background: #00b5cd;
	margin-bottom: 25px;
}
.sos p {
	margin: 0;
	margin-bottom: 5px;
}
.sos input {
	margin-bottom: 15px;
	padding: 5px 7px;
	width: 100%;
	box-sizing: border-box;
}
.sos textarea {
	width: 100%;
	height: 115px;
	box-sizing: border-box;
	padding: 5px 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: none;
	resize: none;
}
.tcenter {
	text-align: center;
}
#video-details.right {
	float: right;
	margin-top: 50px;
}
#side-bar.left {
	background: #fff !important;
	float: left;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 50px;
}
#side-bar.left .title {
	font-size: 30px;
	line-height: normal;
	margin: 0;
	margin-bottom: 10px;
}
.more p {
	color: #481c45;
	font-size: 14px;
	margin-top: 0;
	font-weight: bold;
}
.learn-more:hover {
	background: #007e98 url('../img/button.png') no-repeat 0 -115px;
}
.learn-more {
	background: #00b5cd url('../img/button.png') no-repeat top;
	color: #481c45;
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 1px 1px rgba(255,255, 255, 0.5);
	width: 100%;
	display: inline-block;
	height: 75px;
	margin-bottom: 25px;
	line-height: 75px;
	text-align: center;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
}
.sos .button {
	background: #e32385;
	color: #FFF;
	display: inline-block;
	padding: 5px 8px 3px;
	color: #fff;
	width: auto;
	margin-top: 15px;
	margin-bottom: 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.4);
}
.sos .button:hover {
	color: #FFF;
	background: #bb005d;
}
.sos h2 {
	font-family: Helvetica, sans-serif;
	margin: 0;
	font-size: 24px;
	line-height: normal;
	color: #fff;
	font-weight: bold;
	margin-bottom: 10px;
}
.sos label {
	color: #fff;
	font-size: 13px;
}
#side-bar.bg-block{
	background: none;
}
#side-bar.bg-block section {
	background: #252323;
}
#side-bar.left{
	min-height: 325px;
	box-sizing: border-box;
}
.footer-blue {
	margin-top: 30px;
	padding: 45px 0 30px 0;
	color: #fff;
	box-sizing: border-box;
	min-height: 250px;
	box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4);
	background: #00b5cd url("/_public/img/main-background2.png") repeat-x 0 0;
}
.footer-blue p{
	font-size: 14px;
	line-height: 20px;
}
.left .pdf {
	background: url("/_public/img/pdf.png") no-repeat 0 center;
	padding-left: 35px;
	color: #333333;
	font-size: 14px;
	height: 27px;
	text-decoration: underline;
	display: inline-block;
	line-height: 27px;
	margin-top: 10px;
}
.left .pdf:hover {
	text-decoration: none;
}
.footer-blue h2{
	color: #fff;
	font-family: Helvetica, sans-serif;
	font-size: 24px;
	text-transform: none !important;
	font-weight: normal;
	margin: 0;
	line-height: normal;
}
.clear {
	clear: both;
}
.blue-block {
	width: 960px;
	margin: 0 auto;
}
.blue {
	padding: 0 !important;
}
.blue-block .center-blue {
	width: 625px;
	margin: 0 auto;
}
.blue-block .pink{
	background: #e32385;
	font-size: 14px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.23);
	margin: 0 20px 0 0;
	padding: 14px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	width: 110px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
.blue-block .purple {
	background: #4b1b47;
	font-size: 14px;
	text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.23);
	margin: 20px 20px 0 0;
	padding: 14px 0px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	width: 110px;
	color: #fff;
	font-weight: bold;
	display: inline-block;
	text-align: center;
	font-family: Helvetica, sans-serif;
}
.purple-block {
	background: #4b1b47;
	padding: 20px;
	box-sizing: border-box;
}
.purple-block h2 {
	margin-bottom: 15px;
}
.purple-block a {
	font-size: 14px;
	display: inline-block;
	color: #fff;
	margin-top: 15px;
	text-decoration: underline;
}
.purple-block a:hover {
	text-decoration: none;
}
.purple-block p {
	margin: 0;
}
.purple-block input {
	margin-bottom: 15px;
	padding: 5px 7px;
	width: 100%;
	box-sizing: border-box;
}
.purple-block form p {
	margin-bottom: 5px;
}
.purple-block textarea {
	width: 100%;
	height: 115px;
	box-sizing: border-box;
	padding: 5px 7px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	border: none;
	resize: none;
}
.purple-block label{
	font-size: 13px;
}
.purple-block .button:hover {
	background: #bb005d;
}
.purple-block .button {
	background: #e32385;
	color: #FFF;
	display: inline-block;
	padding: 5px 8px 3px;
	color: #fff;
	width: auto;
	margin-top: 15px;
	margin-bottom: 0px;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.4);
}
.vblog-blog{
	position: relative;
}
#side-bar.bg-block .banner {
	margin-bottom: -20px;
	z-index: 9;
}
#side-bar.bg-block .subscribe{
	z-index: 10;
}